body { background: #3b0404; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 46px; display: flex; }
.block-user-0 { color: #f5565; font-size: 21px; margin-bottom: 5px; }
.block-cluster-1 { color: #d15ba7; font-size: 19px; margin-bottom: 5px; }
.block-logger-2 { color: #33e49; font-size: 15px; margin-bottom: 5px; }
.block-cart-3 { color: #809b45; font-size: 15px; margin-bottom: 5px; }
.block-logger-4 { color: #147504; font-size: 15px; margin-bottom: 5px; }